<!-- <button mat-stroked-button color="primary" (click)="openDialog()">Open dialog</button> -->

<section #section class="custom-theme-1">
    <div class="example-label">切換自定義主題色</div>
    <div class="example-button-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
</section>